<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{keywords}}">

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> 

<body>
  
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Mongoose Forms Example</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li>
              <a href="/site">Sites</a>
            </li>
            <li>
              <a href="/site/create">Create New</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {{{body}}}
  
</body>
</html>